<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="about.component.css" />
</head>

<body>
    <div class="wrapper">
        <h1>-- About Us--</h1>
        <div class="about-section">
            <img src="assets/aerocom1.jpg" />
            <p>
                AeroCom journey begins in the year 2022, when the distinguished entrepreneur Ajij Premji. AercOM founded the
                company. It’s easy to see why AeroCome became a labour of love for Ajij Premji, considering he was the
                first Indian to receive a commercialpilot’s license in 2019, and pass out of a flying club with a ‘No.1’

            
            <br />
            <button>Join Us</button>
            <button>More Info</button>
        </p>
        </div>
    </div>
</body>

</html>